@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');
:root{
  --mainColor: #48d1cc;
  --backColor: #dcdcdc;
  --mainFonts:  'Shippori Antique B1', sans-serif;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
a{
  text-decoration:none;
}
ul{
  list-style-type:none;
}
/*------- START HEADING STYLE -------*/
header > div{
  width:100%;
  height: 60px;
}
lable, nav{
  width: 50%;
}
lable img{
  height: 30px;
  margin-left:100px;
}
header div, .u-head{
  display: flex;
  justify-content:space-between;
  align-items:center;
}
.u-head{
  justify-content:space-evenly;
  font-family: 'Shippori Antique B1', sans-serif;
}
.u-head a{
  color:#000;
  text-transform:capitalize;
}
.u-head a:hover, .u-head a:active{
  color:var(--mainColor);
}
/*------ END HEADER STYLING -------*/
.sct-one{
  width:100%;
}
.art-one{
  background-image: url(../Images/landing.jpg);
  background-size: cover;
  height: 660px;
  width:100%;
  display: flex;
  justify-content:center;
  align-items: center;
}
.art-one > div{
  width:300px;
  font-family:var(--mainFonts);
  text-align: center;
}
.art-one h1{
  text-transform: capitalize;
  color:var(--mainColor);
  font-size: 44px;
}
.art-one p{
  color: gray;
  word-spacing: 2px;
}
.art-t{
  width:100%;
  height: 350px;
  background-color: var(--backColor);
}
.div-Glob{
  width: 90%;
}
.div-fle{
  height: 350px;
  width:100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.div-one{
  text-align: center;
  width: 30%;
  height:300px;
  font-family: var(--mainFonts);
}
.fa-3x{
  color:var(--mainColor);
  padding:20px;
}
.div-one h3{
  margin:20px auto;
  font-family: 'Shippori Antique', sans-serif;
}
/*----- END HEAD STYLING -----*/
/*----- START BODY STYLING -----*/
.sct-tow{
  width:100%;
  font-family:var(--mainFonts);
}
.h-ser{
  width:100%;
  height:200px;
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
}
.h-ser h2{
  font-size:100px;
  color:silver;
}
.h-ser p{
  margin-top:-40px;
}
.fa-2x{
  color:var(--mainColor);
}
.b-ser{
  width:100%;
  padding:50px 0;
  margin:0 auto;
}
.b-ser ul{
  width:90%;
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  grid-template-rows:repeat(2, 1fr);
  gap:50px 10px;
}
.b-ser ul li{
  display: grid;
  grid-template-columns:1fr 3fr;
}
.div-i{
  text-align:center;
  padding-top:10px;
}
.div-b p{
  color: gray;
}
.sct-tow article:last-child{
  background-color: var(--backColor);
}
.b2-ser{
  width:95%;
  height:1000px;
  display: grid;
  margin: 0 auto;
  grid-template-columns:repeat(2, 1fr);
  grid-template-rows:repeat(2, 1fr);
  gap:5px 50px;
}
.b2-ser img{
  width:100%;
  height:300px;
}
.b2-ser h3{
  padding:10px 0;
}
.b2-ser > div > div:last-child{
  padding: 10px 20px 50px 10px;
}
.b2-ser > div{
  height: 450px;
  background-color: #fff;
}
.b3-ser{
  width:95%;
  height:600px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
}
.b3-ser img{
  width: 100%;
  height:100%;
}
.b3-ser > div:first-child{
  padding:100px;
}
.b3-ser img::before{
  content: " ";
  position:absolute;
  border-left: 20px solid grey;
  top:0;
  left:-20px;
}












